@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Arial, sans-serif;

    background: url('https://i.pinimg.com/originals/1a/a2/00/1aa2008c04d15f46d38b797cb1452ed4.gif') center/cover;

}

header {
    background: linear-gradient(to right, #712ac8, #aa21f3);
    color: #fff;

    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}



body {
    padding-top: 2rem;

}

@media (max-width: 600px) {
    header {
        padding: 1vmax;

    }

    body {
        padding-top: 3rem;

    }

    .content {
        margin-top: 0rem;

    }

}


.content {
    padding: 0rem;
    margin-top: -1rem;

}


#mainImage {
    display: block;
    margin: auto;

    max-width: 100%;

    height: auto;

}

.purple-container {
    background: linear-gradient(to right, #712ac8, #aa21f3);
    padding: 1rem;

    border-radius: 0.5rem;

    margin-top: 1rem;


    width: 90%;


    max-height: 25rem;

    margin-left: auto;

    margin-right: auto;
    display: flex;

    align-items: center;
    transition: transform 0.3s ease-in-out;


}

.metal-container {
    background: url('assets/metal.png') center/cover;
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    width: 100%;





}

.purple-container:hover {
    transform: scale(1.05);

}

#container-image {
    display: block;
    margin: auto;

    max-width: 50%;

    height: auto;
    max-height: 14rem;
    align-self: flex-start;
    border-radius: 0.90rem;
    padding: 0.5rem;
}

.container-content {
    flex-grow: 1;
    font-size: 2vw;

    text-align: center;

}


.container-content h1 {
    font-size: 4vw;

    font-weight: bold;

    margin-bottom: 0.5rem;

}


.container-content p {
    font-size: 2vw;

}

.container-content h2 {
    font-size: 3vw;

}

.paragraph {
    max-width: 100%;
    font-size: 4vw;
    margin: 0;

}

.bi-bi-arrow-left-square-fill {
    font-size: 4vw;
}

.icon {
    font-size: 4.5vw;

}